@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #efe2ba;
}

@font-face {
  font-family: 'try-clother';
  src: url('fonts/try-clother.ttf');
}

#title {
  font-family: 'try-clother';
}

#lookman {
  left: 37rem;
  bottom: 22rem;
  right: auto;
  top: auto;
}
@media (min-width: 768px) {
  #height {
  height: 34rem;
}
 }
